.blog0 {
    background: pink;
}

.blog1 {
    background: lightyellow;
}
.blog2{
    background: lightgreen;
}
.blog{
    width: 240px;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}
.blog-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.header{
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
}
.header__ttl{
    text-align: center;
    color: black;
}
.result{
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.result__ok{
    color: red;
    text-align: center;
    font-size: 25px;
}
.result__ng{
    color: blue;
    text-align: center;
    font-size: 25px;

}
.table{
    margin: 10px auto;
    border: 1px solid black;

 
}
th{
    background-color:aquamarine ;
}
td{
    text-align: center;
}
